Repository nickbooth1/Capacity-Planner, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @frontend-team, @backend-team, @architecture-team, @devops-team, @database-team, @security-team

.github/CODEOWNERS:

# CODEOWNERS file
# This file defines who is responsible for code in this repository
# These owners will be automatically requested for review when someone opens a pull request

# Default owners for everything in the repo
* @your-github-username

# Frontend team owns the web app
/apps/web/ @your-github-username @frontend-team

# Backend team owns the API gateway
/apps/api-gateway/ @your-github-username @backend-team

# Architecture team owns shared packages
/packages/ @your-github-username @architecture-team

# DevOps team owns infrastructure and CI/CD
/.github/ @your-github-username @devops-team
/docker-compose*.yml @your-github-username @devops-team
/Dockerfile* @your-github-username @devops-team
/scripts/ @your-github-username @devops-team

# Database team owns Prisma schemas and migrations
/**/prisma/ @your-github-username @database-team
/**/*.sql @your-github-username @database-team

# Documentation
/1.Docs/ @your-github-username
/*.md @your-github-username
/CONTRIBUTING.md @your-github-username @devops-team

# Security-sensitive files
/.env* @your-github-username @security-team
/packages/shared-kernel/src/auth/ @your-github-username @security-team
/packages/entitlement-service/ @your-github-username @security-team

fix: Update build configuration for Railway production deployment
  .env.local.example
  .railwayignore
  DEPLOYMENT_CHECKLIST.md
  deployment-checklist.txt
  docs/production-deployment-checklist.md
  docs/production-runbook.md
  docs/production-setup.md
  monitoring/alerts.yml
  package.json
  packages/assets-module/prisma/seed.ts
  packages/entitlement-service/prisma/seed.ts
  packages/shared-kernel/prisma/seed.ts
  pnpm-lock.yaml
  railway-production-setup.md
  railway.json
  railway.production.json
  railway.toml
  scripts/backup-production.sh
  scripts/check-column-names.js
  scripts/check-prisma-migrations.js
  scripts/check-supabase-schemas.js
  scripts/deploy-production.sh
  scripts/fix-production-migrations.js
  scripts/monitor-production.sh
  scripts/prepare-production-deploy.sh
  scripts/reset-supabase-data.js
  scripts/restore-production.sh
  scripts/setup-github-secrets.md
  scripts/setup-production-schemas.js
  scripts/setup-supabase.sh
  scripts/supabase-init.sql
  scripts/test-production-connection.js
  scripts/test-supabase-connection.js
  scripts/verify-production-data.js
  scripts/verify-supabase-data.js
Owners: @your-github-username, @security-team, @database-team, @devops-team

fix: Force Railway to use nixpacks instead of Docker
  .railwayignore
  apps/api-gateway/Dockerfile.dev.disabled
  apps/api-gateway/Dockerfile.disabled
  apps/web/Dockerfile.dev.disabled
  apps/web/Dockerfile.disabled
  nixpacks.toml
Owners: @your-github-username, @backend-team, @frontend-team

fix: Exclude test files from production build and add working Dockerfile
  Dockerfile
  apps/api-gateway/tsconfig.app.json
Owners: @your-github-username, @devops-team, @backend-team

fix: Update Dockerfile for Nx monorepo structure
  Dockerfile
Owners: @your-github-username, @devops-team

fix: Bind to 0.0.0.0 instead of localhost for Docker
  Dockerfile
  apps/api-gateway/src/main.ts
Owners: @your-github-username, @devops-team, @backend-team
